<h5>Hothouse</h5>
<div class="card" *ngIf="!loadSuccess">
  <div class="card-body">
    <div class="alert alert-danger" role="alert">
      Failed to fetch data from the server, please try again.
    </div>
  </div>
</div>
<div class="card" *ngIf="loadSuccess">
  <!--HOTHOUSE-ENVIRONMENT-CONTROL-MENU-->
  <div class="card-header">
    <form [formGroup]="menuForm">
      <div class="form-inline align-middle">
        <label for="water">Water (L): </label>
        <input
          type="number"
          id="water"
          [min]="minWater"
          class="form-control mx-3 rounded"
          style="width: 6rem;"
          [class.is-invalid]="waterLow"
          formControlName="water"
          [value]="menuForm.value.water"
          onkeydown="return false"
        />
        <label for="temperature">Temp. (°C): </label>
        <input
          type="number"
          id="temperature"
          [min]="minTemp"
          class="form-control mx-3 rounded"
          style="width: 6rem;"
          [class.is-invalid]="temperatureLow"
          formControlName="temperature"
          [value]="menuForm.value.temperature"
          onkeydown="return false"
        />
      </div>
    </form>
  </div>
  <!--HOTHOUSE-SPOTS-->
  <div class="card-body px-4">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-3" *ngFor="let control of dashboard.controls">
        <!--SINGLE-SPOT-->
        <div
          class="card mb-3"
          style="min-height: 15rem; min-width: 15rem;"
          (mouseenter)="control.display = true"
          (mouseleave)="control.display = false"
          [class.border-dark]="control.state === spotStates[2]"
          [class.border-success]="control.state === spotStates[3]"
        >
          <div class="card-header" [class.header-hover]="control.display">
            Row: {{ control.spot.row }}, Col: {{ control.spot.col }}
          </div>
          <div
            class="card-body spot rounded"
            [class.item-hover]="control.display"
          >
            <div *ngIf="control.display">
              <div
                *ngIf="
                  control.state === spotStates[2] ||
                  control.state === spotStates[3]
                "
              >
                <!--SHOW-SEEDLING-DATA-->
                <strong>Name:</strong>
                <br />
                <span>{{ control.seedling.name }}</span>
                <br />
                <strong>Manufacturer:</strong>
                <br />
                <span>{{ control.seedling.manufacturer }}</span>
                <br />
                <div class="progress position-relative my-1">
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                    role="progressbar"
                    [style]="calculateProgressWidth(control)"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong
                      class="justify-content-center d-flex position-absolute w-100"
                      style="color: black;"
                      >{{ control.progress }}%</strong
                    >
                  </div>
                </div>
                <div class="text-center mt-3 mb-1">
                  <button
                    type="button"
                    class="btn btn-outline-success mr-2"
                    style="width: 5rem;"
                    [disabled]="control.state !== spotStates[3]"
                    (click)="pickSeedling(control.seedling)"
                  >
                    Pick
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    style="width: 5rem;"
                    data-toggle="modal"
                    data-target="#apply-modal"
                    (click)="markSpot(control.spot.row, control.spot.col)"
                  >
                    Apply
                  </button>
                </div>
              </div>
              <!--SHOW-EMPTY-SPOT-->
              <div
                *ngIf="
                  control.state === spotStates[0] ||
                  control.state === spotStates[1]
                "
                class="d-flex flex-column justify-content-center align-items-center"
                style="height: 8rem;"
              >
                <div class="text-center">
                  <div *ngIf="control.state === spotStates[1]">
                    <span>Preparing spot...</span>
                    <br />
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-primary mt-2"
                    style="width: 5rem;"
                    data-toggle="modal"
                    data-target="#plant-modal"
                    [disabled]="control.state !== spotStates[0]"
                    (click)="markSpot(control.spot.row, control.spot.col)"
                  >
                    Plant
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--APPLY-MODAL-->
<div
  class="modal fade"
  id="apply-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="apply-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="apply-modal-label">Fertilizers</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <th>
              Name
            </th>
            <th>
              Growth factor
            </th>
            <th>
              Quantity
            </th>
            <th>
              Action
            </th>
          </thead>
          <tbody>
            <tr
              *ngFor="let fertilizer of fertilizers"
              [class.text-muted]="!itemStocked(fertilizer.quantity)"
            >
              <td class="align-middle">
                {{ fertilizer.name }}
              </td>
              <td class="align-middle">
                {{ fertilizer.accelerateGrowthBy }} days
              </td>
              <td class="align-middle">
                {{ fertilizer.quantity }}
              </td>
              <td class="align-middle">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  data-dismiss="modal"
                  (click)="applyFertilizer(fertilizer)"
                  [disabled]="!itemStocked(fertilizer.quantity)"
                >
                  Apply
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--PLANT-MODAL-->
<div
  class="modal fade"
  id="plant-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="plant-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="plant-modal-label">Seedlings</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <th>
              Name
            </th>
            <th>
              Growth time
            </th>
            <th>
              Quantity
            </th>
            <th>
              Action
            </th>
          </thead>
          <tbody>
            <tr
              *ngFor="let seedling of seedlings"
              [class.text-muted]="!itemStocked(seedling.quantity)"
            >
              <td class="align-middle">
                {{ seedling.name }}
              </td>
              <td class="align-middle">{{ seedling.daysToGrow }} days</td>
              <td class="align-middle">
                {{ seedling.quantity }}
              </td>
              <td class="align-middle">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  data-dismiss="modal"
                  [disabled]="!itemStocked(seedling.quantity)"
                  (click)="plantSeedling(seedling)"
                >
                  Plant
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
