<div class="card">
  <div class="card-body">
    <h3 class="pb-3">Change password</h3>
    <div class="card" style="border: none;">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="current-pass">
            Current password:
          </label>
          <input
            type="password"
            class="form-control"
            id="current-pass"
            formControlName="currentPassword"
            required
          />
          <small class="text-muted">Please enter your current password.</small>
          <br />
          <small class="text-danger" *ngIf="incorrectCurrentPassword"
            >Current password does not match your account.</small
          >
        </div>
        <div class="form-group">
          <label for="new-pass">
            New password:
          </label>
          <input
            type="password"
            class="form-control"
            [class.is-invalid]="isInvalidNewPassword"
            [class.is-valid]="isValidNewPassword"
            id="new-pass"
            formControlName="newPassword"
            required
          />
          <small class="text-muted"
            >Password must be at least 7 characters long, must contain at least
            one uppercase letter, one number, one special character (#?!@$%^&*-)
            and must start with a letter.</small
          >
          <br />
          <small class="text-danger" *ngIf="isInvalidNewPassword"
            >Password must be in the correct format and different from the
            previous password.</small
          >
        </div>
        <div class="form-group">
          <label for="new-pass-confirm">
            Confirm new password:
          </label>
          <input
            type="password"
            class="form-control"
            [class.is-invalid]="isInvalidConfirmNewPassword"
            [class.is-valid]="isValidConfirmNewPassword"
            id="new-pass-confirm"
            formControlName="confirmNewPassword"
            required
          />
          <small class="text-muted">Please retype your new password.</small>
          <br />
          <small class="text-danger" *ngIf="isInvalidConfirmNewPassword"
            >Passwords do not match.</small
          >
        </div>
        <div class="form-group" *ngIf="hasServerErrorOccurred">
          <small class="text-danger"
            >The server encountered an error while processing your request,
            please try again.</small
          >
        </div>
        <div style="text-align: center;">
          <button
            type="submit"
            class="btn btn-primary"
            style="width: 7rem;"
            [disabled]="form.invalid || form.pristine"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
