<h5>Your hothouses</h5>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="align-middle">#</th>
        <th scope="col" class="align-middle">Name</th>
        <th scope="col" class="align-middle">Location</th>
        <th scope="col" class="align-middle">Seedlings</th>
        <th scope="col" class="align-middle">Empty</th>
        <th scope="col" class="align-middle">Watering (L)</th>
        <th scope="col" class="align-middle">Temperature (°C)</th>
        <th scope="col" class="align-middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemStream$ | async; let id = index">
        <th scope="row" class="align-middle">{{ id + 1 }}</th>
        <td class="align-middle">{{ item?.name }}</td>
        <td class="align-middle">{{ item?.location }}</td>
        <td class="align-middle">{{ item?.occupiedSpots }}</td>
        <td class="align-middle">{{ item?.capacity - item?.occupiedSpots }}</td>
        <td class="align-middle">{{ item?.waterAmount }}</td>
        <td class="align-middle">{{ item?.temperature }}</td>
        <td class="align-middle">
          <button
            type="button"
            class="btn btn-outline-primary my-1 mx-1"
            (click)="viewHothouse(item._id)"
          >
            Manage
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary my-1 mx-1"
            (click)="viewWarehouse(item._id)"
          >
            Warehouse
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
