<h5>Manage users</h5>
<div class="d-flex">
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="selectedRoles[0]"
          (click)="getUsersByRole(NO_ROLE)"
          onclick="event.preventDefault();"
          href="#"
          >All</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="selectedRoles[1]"
          (click)="getUsersByRole(roleSelector[0])"
          onclick="event.preventDefault();"
          href="#"
          >Admin</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="selectedRoles[2]"
          (click)="getUsersByRole(roleSelector[1])"
          onclick="event.preventDefault();"
          href="#"
          >Worker</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="selectedRoles[3]"
          (click)="getUsersByRole(roleSelector[2])"
          onclick="event.preventDefault();"
          href="#"
          >Company</a
        >
      </li>
    </ul>
  </div>
  <div class="ml-auto">
    <form [formGroup]="searchForm">
      <div class="form-inline mb-3">
        <label for="search-username">Search:</label>
        <input
          type="text"
          class="form-control form-control-sm ml-1"
          style="width: 15rem;"
          id="search-username"
          formControlName="search"
          placeholder="Username"
          required
        />
      </div>
    </form>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersStream$ | async; let id = index">
      <th scope="row">{{ id + 1 }}</th>
      <td>{{ user?.username }}</td>
      <td>{{ user?.role }}</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-info mr-1"
          (click)="markUserToEdit(user.username, user.role)"
          data-toggle="modal"
          data-target="#editAccountModal"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="markUserToDelete(user.username, user.role)"
          data-toggle="modal"
          data-target="#deleteAccountModal"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!--EDIT-MODAL-->
<div
  class="modal fade"
  id="editAccountModal"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editAccountModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAccountModalLabel">Edit user</h5>
      </div>
      <div class="modal-body">
        <ng-template [ngIf]="!editUserModalPristine && !didEditUserLoadFail">
          <form [formGroup]="editForm">
            <div class="form-group">
              <label for="username"><strong>Username:</strong></label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
                disabled
              />
            </div>
            <!--Admin edit-->
            <div *ngIf="markedUserToEdit.role === roleSelector[0]">
              <div class="form-group">
                <label for="email"><strong>Email:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  [class.is-invalid]="
                    editForm.get('email').dirty && editForm.get('email').invalid
                  "
                  [class.is-valid]="
                    editForm.get('email').dirty && editForm.get('email').valid
                  "
                  required
                />
              </div>
            </div>
            <!--Worker edit-->
            <div *ngIf="markedUserToEdit.role === roleSelector[1]">
              <div class="form-group">
                <label for="first-name"><strong>First name:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="first-name"
                  formControlName="firstName"
                  [class.is-invalid]="
                    editForm.get('firstName').dirty &&
                    editForm.get('firstName').invalid
                  "
                  [class.is-valid]="
                    editForm.get('firstName').dirty &&
                    editForm.get('firstName').valid
                  "
                  required
                />
              </div>
              <div class="form-group">
                <label for="last-name"><strong>Last name:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="last-name"
                  formControlName="lastName"
                  [class.is-invalid]="
                    editForm.get('lastName').dirty &&
                    editForm.get('lastName').invalid
                  "
                  [class.is-valid]="
                    editForm.get('lastName').dirty &&
                    editForm.get('lastName').valid
                  "
                  required
                />
              </div>
              <div class="form-group">
                <label for="birthdateD"
                  ><strong>Date of birth (DD/MM/YYYY):</strong></label
                >
                <div class="d-flex flex-row">
                  <input
                    type="number"
                    class="form-control"
                    style="width: 7rem;"
                    id="birthdateD"
                    formControlName="birthdateDay"
                    [class.is-invalid]="
                      editForm.get('birthdateDay').dirty &&
                      editForm.get('birthdateDay').invalid
                    "
                    [class.is-valid]="
                      editForm.get('birthdateDay').dirty &&
                      editForm.get('birthdateDay').valid
                    "
                    min="1"
                    max="31"
                    required
                  />
                  <input
                    type="number"
                    class="form-control"
                    style="width: 7rem; margin-left: 0.5rem;"
                    id="birthdateM"
                    formControlName="birthdateMonth"
                    [class.is-invalid]="
                      editForm.get('birthdateMonth').dirty &&
                      editForm.get('birthdateMonth').invalid
                    "
                    [class.is-valid]="
                      editForm.get('birthdateMonth').dirty &&
                      editForm.get('birthdateMonth').valid
                    "
                    min="1"
                    max="12"
                    required
                  />
                  <input
                    type="number"
                    class="form-control"
                    style="width: 10rem; margin-left: 0.5rem;"
                    id="birthdateY"
                    formControlName="birthdateYear"
                    [class.is-invalid]="
                      editForm.get('birthdateYear').dirty &&
                      editForm.get('birthdateYear').invalid
                    "
                    [class.is-valid]="
                      editForm.get('birthdateYear').dirty &&
                      editForm.get('birthdateYear').valid
                    "
                    min="1900"
                    [max]="currentYear"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="birthplace"><strong>Birthplace:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="birthplace"
                  formControlName="birthplace"
                  [class.is-invalid]="
                    editForm.get('birthplace').dirty &&
                    editForm.get('birthplace').invalid
                  "
                  [class.is-valid]="
                    editForm.get('birthplace').dirty &&
                    editForm.get('birthplace').valid
                  "
                  required
                />
              </div>
              <div class="form-group">
                <label for="phone-number"><strong>Phone number:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="phone-number"
                  formControlName="phoneNumber"
                  [class.is-invalid]="
                    editForm.get('phoneNumber').dirty &&
                    editForm.get('phoneNumber').invalid
                  "
                  [class.is-valid]="
                    editForm.get('phoneNumber').dirty &&
                    editForm.get('phoneNumber').valid
                  "
                  required
                />
              </div>
              <div class="form-group">
                <label for="email"><strong>Email:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  [class.is-invalid]="
                    editForm.get('email').dirty && editForm.get('email').invalid
                  "
                  [class.is-valid]="
                    editForm.get('email').dirty && editForm.get('email').valid
                  "
                  required
                />
              </div>
            </div>
            <!--Company edit-->
            <div *ngIf="markedUserToEdit.role === roleSelector[2]">
              <div class="form-group">
                <label for="name"><strong>Company name:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  [class.is-invalid]="
                    editForm.get('name').dirty && editForm.get('name').invalid
                  "
                  [class.is-valid]="
                    editForm.get('name').dirty && editForm.get('name').valid
                  "
                  required
                />
              </div>
              <div class="form-group">
                <label for="day"
                  ><strong>Foundation date (DD/MM/YYYY):</strong></label
                >
                <div class="d-flex flex-row">
                  <input
                    type="number"
                    class="form-control"
                    style="width: 7rem;"
                    id="day"
                    formControlName="foundingDay"
                    [class.is-invalid]="
                      editForm.get('foundingDay').dirty &&
                      editForm.get('foundingDay').invalid
                    "
                    [class.is-valid]="
                      editForm.get('foundingDay').dirty &&
                      editForm.get('foundingDay').valid
                    "
                    min="1"
                    max="31"
                    required
                  />
                  <input
                    type="number"
                    class="form-control"
                    style="width: 7rem; margin-left: 0.5rem;"
                    id="month"
                    formControlName="foundingMonth"
                    [class.is-invalid]="
                      editForm.get('foundingMonth').dirty &&
                      editForm.get('foundingMonth').invalid
                    "
                    [class.is-valid]="
                      editForm.get('foundingMonth').dirty &&
                      editForm.get('foundingMonth').valid
                    "
                    min="1"
                    max="12"
                    required
                  />
                  <input
                    type="number"
                    class="form-control"
                    style="width: 10rem; margin-left: 0.5rem;"
                    id="year"
                    formControlName="foundingYear"
                    [class.is-invalid]="
                      editForm.get('foundingYear').dirty &&
                      editForm.get('foundingYear').invalid
                    "
                    [class.is-valid]="
                      editForm.get('foundingYear').dirty &&
                      editForm.get('foundingYear').valid
                    "
                    min="1000"
                    [max]="currentYear"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="hq"><strong>Company headquarters:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="hq"
                  formControlName="hq"
                  [class.is-invalid]="
                    editForm.get('hq').dirty && editForm.get('hq').invalid
                  "
                  [class.is-valid]="
                    editForm.get('hq').dirty && editForm.get('hq').valid
                  "
                  maxlength="100"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email"><strong>Email:</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  [class.is-invalid]="
                    editForm.get('email').dirty && editForm.get('email').invalid
                  "
                  [class.is-valid]="
                    editForm.get('email').dirty && editForm.get('email').valid
                  "
                  required
                />
              </div>
            </div>
          </form>
        </ng-template>
        <small class="text-danger" *ngIf="didEditUserLoadFail"
          >Server encountered an error while fetching the user. Please try
          again.</small
        >
        <small class="text-danger" *ngIf="didEditUserSubmitFail"
          >Server encountered an error while saving the user changes. Please try
          again.</small
        >
        <small class="text-danger" *ngIf="editForm.dirty && editForm.invalid"
          >Invalid field value.</small
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="confirmEditMarkedUser()"
          [disabled]="editForm.pristine || editForm.invalid"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="cancelEdit()"
          data-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--DELETE-MODAL-->
<div
  class="modal fade"
  id="deleteAccountModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteAccountModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAccountModalLabel">Delete user</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to delete this user?</span>
        <br />
        <ng-template *ngIf="didDeleteUserFail"
          ><small class="text-danger"
            >Server encountered an error while processing your request, please
            try again.</small
          ></ng-template
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="confirmDeleteMarkedUser()"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
