<nav
  class="navbar navbar-expand-md sticky-top navbar-dark bg-dark cs-primary-dark"
>
  <a class="navbar-brand" href="#">PIA Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="login"
          >Login <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register/choose-type">Register</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        
      </li>
      -->
    </ul>
  </div>
</nav>

<body class="d-flex flex-column h-100">
  <main role="main">
    <div class="container py-4">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="footer mt-auto py-2 cs-primary-dark">
    <div class="container">
      <span class="font-weight-light cs-text-white">PIA Manager v1</span>
      <br />
      <span class="font-weight-light cs-text-white"
        >&copy; Mihajlo Starčević, 2020</span
      >
    </div>
  </footer>
</body>
