<h5>Online store</h5>
<div class="d-flex my-3">
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#viewCartModal"
  >
    Checkout
  </button>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="align-middle">#</th>
        <th scope="col" class="align-middle">Name</th>
        <th scope="col" class="align-middle">Type</th>
        <th scope="col" class="align-middle">Manufacturer</th>
        <th scope="col" class="align-middle">Quantity</th>
        <th scope="col" class="align-middle">Price per unit (€)</th>
        <th scope="col" class="align-middle">Availability</th>
        <th scope="col" class="align-middle">Rating</th>
        <th scope="col" class="align-middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of itemStream$ | async; let id = index"
        [class.text-muted]="!item.available"
      >
        <th scope="row" class="align-middle">{{ id + 1 }}</th>
        <td class="align-middle">{{ item?.name }}</td>
        <td class="align-middle">{{ item?.type | titlecase }}</td>
        <td class="align-middle">{{ item?.manufacturer }}</td>
        <td class="align-middle">{{ item?.quantity }}</td>
        <td class="align-middle">{{ item?.unitPrice / 100 }}</td>
        <td class="align-middle">
          <div *ngIf="item.available">On sale</div>
          <div *ngIf="!item.available">Not available currently</div>
        </td>
        <td class="align-middle">{{ showAverageRating(item?.comments) }}</td>
        <td class="align-middle">
          <button
            type="button"
            class="btn btn-outline-primary my-1 mx-1"
            style="width: 7rem;"
            (click)="openAddToCartDialog(item)"
            data-toggle="modal"
            data-target="#addToCartModal"
            [disabled]="!item.available"
          >
            Add to cart
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary my-1 mx-1"
            style="width: 7rem;"
            data-toggle="modal"
            data-target="#detailsModal"
            (click)="viewDetails(item)"
          >
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--CART-MODAL-->
<div
  class="modal fade"
  id="viewCartModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewCartModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewCartModalLabel">Shopping cart</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="align-middle">#</th>
              <th scope="col" class="align-middle">Name</th>
              <th scope="col" class="align-middle">Manufacturer</th>
              <th scope="col" class="align-middle">Quantity</th>
              <th scope="col" class="align-middle">Price (€)</th>
              <th scope="col" class="align-middle">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartItem of cart; let cartItemId = index">
              <th scope="row" class="align-middle">{{ cartItemId + 1 }}</th>
              <td class="align-middle">{{ cartItem?.name }}</td>
              <td class="align-middle">{{ cartItem?.manufacturer }}</td>
              <td class="align-middle">{{ cartItem?.quantity }}</td>
              <td class="align-middle">{{ cartItem?.price / 100 }}</td>
              <td class="align-middle">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="removeFromCart(cartItemId)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mt-3">
          <div *ngIf="cart.length === 0">
            <p>There are no items in your cart currently.</p>
          </div>
          <p><strong>Total billing: </strong>{{ calculateBilling() / 100 }}€</p>
          <form [formGroup]="warehouseSelect">
            <div class="form-group">
              <label for="select"><strong>Deliver to:</strong></label>
              <select
                id="select"
                class="form-control form-control-sm"
                style="width: 40vw;"
                formControlName="warehouse"
              >
                <option
                  *ngFor="
                    let warehouse of warehouseStream$ | async;
                    let id = index
                  "
                  [value]="id"
                >
                  "{{ warehouse?.name }}" - {{ warehouse?.location }}
                </option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="confirmOrder()"
          [disabled]="calculateBilling() === 0 || warehouseSelect.invalid"
        >
          Order
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--ADD-TO-CART-MODAL-->
<div
  class="modal fade"
  id="addToCartModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addToCartModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCartModalLabel">Add to cart</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Name: </strong><br />{{ selectedProduct?.name }}</p>
        <p>
          <strong>Manufacturer: </strong><br />{{
            selectedProduct?.manufacturer
          }}
        </p>
        <p>
          <strong>Price per unit: </strong><br />{{
            selectedProduct?.unitPrice / 100
          }}€
        </p>
        <form [formGroup]="inputForm">
          <div class="form-group">
            <label for="quantity"><strong>Order quantity: </strong></label>
            <input
              type="number"
              id="quantity"
              min="0"
              [max]="selectedProduct.quantity"
              class="form-control form-control-sm"
              [class.is-invalid]="!validateQuantity()"
              style="width: 7rem;"
              formControlName="quantity"
            />
          </div>
        </form>
        <p>
          <strong>Total billing: </strong><br />{{
            (selectedProduct?.unitPrice * inputForm.value.quantity) / 100
          }}€
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="addToCart()"
          [disabled]="!validateQuantity()"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="cancelAddingToCart()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--ORDER-RESULT-MODAL-->
<div
  class="modal fade"
  id="orderResultModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="orderResultModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderResultModalLabel">Finalize order</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="orderSuccess">Your order has been successfully made.</div>
        <div *ngIf="!orderSuccess" class="text-danger">
          The server has encountered an error while processing your order.
          Please try again.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!--PRODUCT-DETAILS-MODAL-->
<div
  class="modal fade"
  id="detailsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="detailsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Product details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Name: </strong>
          <br />{{ selectedProduct?.name }}
        </p>
        <p>
          <strong>Manufacturer: </strong>
          <br />{{ selectedProduct?.manufacturer }}
        </p>
        <p>
          <strong>Type: </strong>
          <br />{{ selectedProduct?.type | titlecase }}
        </p>
        <div *ngIf="selectedProduct?.daysToGrow">
          <p>
            <strong>Growth duration: </strong>
            <br />{{ selectedProduct?.daysToGrow }} days
          </p>
        </div>
        <div *ngIf="selectedProduct?.accelerateGrowthBy">
          <p>
            <strong>Acccelerates growth by: </strong>
            <br />{{ selectedProduct?.accelerateGrowthBy }} days
          </p>
        </div>
        <hr />
        <h5>Your feedback:</h5>
        <div *ngIf="feedbackDisabled">
          <p class="text-muted">
            Product feedback is available only after initial product purchase.
          </p>
        </div>
        <form [formGroup]="inputForm">
          <div class="form-group">
            <label for="userRating">Rating:</label>
            <select
              class="form-control form-control-sm"
              style="width: 7rem;"
              formControlName="rating"
            >
              <option *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{
                value
              }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="userComment">Comment:</label>
            <textarea
              class="form-control"
              id="userComment"
              formControlName="comment"
              rows="3"
              placeholder="Your comment..."
            ></textarea>
            <div *ngIf="!saveCommentSuccess">
              <p class="text-danger">
                The server encountered an error while saving your feedback,
                please try again.
              </p>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveUserFeedback()"
            [disabled]="disableSaveComment()"
          >
            Save
          </button>
        </form>
        <hr />
        <h5>Comments:</h5>
        <div *ngIf="selectedProduct?.comments?.length === 0">
          Be the first to give feedback on this product.
        </div>
        <ul
          *ngFor="let commentItem of selectedProduct?.comments"
          class="list-group list-group-flush"
        >
          <li class="list-group-item py-2">
            <div class="d-flex">
              <strong>{{ commentItem?.username }}:</strong>
              <span class="font-weight-light ml-auto">{{
                commentItem?.commentedOn | date: "medium"
              }}</span>
            </div>
            <span>Rated {{ commentItem?.rating }} out of 10.</span>
            <p>"{{ commentItem?.comment }}"</p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
