<h5>Orders backlog</h5>
<div
  *ngIf="courierCount !== -1 && courierFetchDone"
  [class.text-danger]="courierCount === 0 || courierCount === -1"
>
  <strong>Couriers available: </strong><br />
  <span>{{ courierCount }} / {{ maxCourierCount }}</span
  ><br />
  <button
    type="button"
    class="btn btn-outline-primary mt-2"
    style="width: 10rem;"
    data-toggle="modal"
    data-target="#courierStatusModal"
  >
    Courier status
  </button>
</div>
<hr />
<div *ngIf="courierCount === -1 && courierFetchDone" class="text-danger">
  <strong>Error: </strong
  ><span>Failed to retrieve courier data from server, please try again.</span>
</div>
<div class="my-2">
  <form [formGroup]="sortByForm">
    <div class="form-group">
      <label for="sort"><strong>Sort by:</strong></label>
      <select
        id="sort"
        class="form-control form-control-sm"
        style="width: 10rem;"
        formControlName="sort"
      >
        <option [value]="SortBy.ASC">
          Latest orders
        </option>
        <option [value]="SortBy.DESC">
          Oldest orders
        </option>
      </select>
    </div>
  </form>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="align-middle">
          Order ID
        </th>
        <th scope="col" class="align-middle">
          Ordered on
        </th>
        <th scope="col" class="align-middle">
          Order
        </th>
        <th scope="col" class="align-middle">
          Delivery status
        </th>
        <th scope="col" class="align-middle">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let order of orderStream$ | async"
        [class.pending]="
          order?.status === OrderStatus.PENDING && courierCount === 0
        "
      >
        <td class="align-middle">
          {{ (order?.groupOrderId.split("-"))[0] }}
        </td>
        <td class="align-middle">
          {{ order?.orderedOn | date: "mediumDate" }}
          <br />
          {{ order?.orderedOn | date: "mediumTime" }}
        </td>
        <td class="align-middle">
          <div *ngFor="let item of order?.entries">
            <p>
              <strong>Product:</strong>
              <br />
              {{ item?.product }}
              <br />
              <strong>Quantity:</strong>
              {{ item?.quantity }}
            </p>
          </div>
        </td>
        <td class="align-middle">
          {{ order?.status | titlecase }}
        </td>
        <td class="align-middle">
          <div *ngIf="order?.status === OrderStatus.PENDING">
            <button
              type="button"
              class="btn btn-outline-success mr-2"
              style="width: 5rem;"
              [disabled]="courierCount === 0"
              (click)="acceptOrder(order)"
            >
              Accept
            </button>
            <button
              type="button"
              class="btn btn-outline-danger my-2"
              style="width: 5rem;"
              (click)="rejectOrder(order)"
            >
              Reject
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--COURIER-STATUS-MODAL-->
<div
  class="modal fade"
  id="courierStatusModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="courierStatusModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="courierStatusModalLabel">Courier status</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let courier of courierStream$ | async; let id = index"
          >
            <h5>Courier #{{ id + 1 }}</h5>
            <div *ngIf="courier?.status === CourierStatus.IDLE">
              <p>Courier ready for transit.</p>
            </div>
            <div *ngIf="courier?.status !== CourierStatus.IDLE">
              <p>
                <strong>Status:</strong><br />
                {{
                  courier?.status === CourierStatus.DELIVERING
                    ? "Delivering shipment."
                    : "Returning to headquarters."
                }}
              </p>
              <p>
                <strong>Delivery date:</strong><br />
                {{ courier?.deliveryDate | date: "medium" }}
              </p>
              <p>
                <strong>Return date:</strong><br />
                {{ courier?.returnDate | date: "medium" }}
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--ACTION-FAIL-MODAL-->
<div
  class="modal fade"
  id="actionFailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="actionFailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="actionFailModalLabel">Action failed</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          The server encountered an error while processing your
          {{ actionTaken }} order request, please try again.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
