<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Product details</h5>
    <div *ngIf="errorMessageDisplay">
      <div class="alert alert-danger" role="alert">
        The server encountered an error while processing your request, please
        try again.
      </div>
    </div>
    <div *ngIf="!errorMessageDisplay">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>
              <strong>Name: </strong>
              <br />{{ product?.name }}
            </p>
            <p>
              <strong>Manufacturer: </strong>
              <br />{{ product?.manufacturer }}
            </p>
            <p>
              <strong>Type: </strong>
              <br />{{ product?.type | titlecase }}
            </p>
            <div *ngIf="product?.daysToGrow">
              <p>
                <strong>Growth duration: </strong>
                <br />{{ product?.daysToGrow }} days
              </p>
            </div>
            <div *ngIf="product?.accelerateGrowthBy">
              <p>
                <strong>Acccelerates growth by: </strong>
                <br />{{ product?.accelerateGrowthBy }} days
              </p>
            </div>
          </div>
          <div class="col">
            <p>
              <strong>Price per unit: </strong>
              <br />{{ product?.unitPrice / 100 }}€
            </p>
            <p>
              <strong>Quantity in stock: </strong>
              <br />{{ product?.quantity }}
            </p>
            <p>
              <strong>Average rating:</strong>
              <br />
              {{ averageRatingMessage }}
            </p>
            <form [formGroup]="selectForm">
              <div class="form-group">
                <strong><label for="availability">Availability:</label></strong>
                <select
                  class="form-control form-control-sm"
                  style="width: 10rem;"
                  formControlName="available"
                >
                  <option value="true">
                    Available
                  </option>
                  <option value="false">
                    Not available
                  </option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr />
      <h5>Comments:</h5>
      <div *ngIf="product?.comments.length === 0">
        <p>No comments to show for this product.</p>
      </div>
      <ul
        *ngFor="let commentItem of product?.comments"
        class="list-group list-group-flush"
      >
        <li class="list-group-item py-2">
          <div class="d-flex">
            <strong>{{ commentItem?.username }}:</strong>
            <span class="font-weight-light ml-auto">{{
              commentItem?.commentedOn | date: "medium"
            }}</span>
          </div>
          <span>Rated {{ commentItem?.rating }} out of 10.</span>
          <p>"{{ commentItem?.comment }}"</p>
        </li>
      </ul>
    </div>
  </div>
</div>
