<h5>User account</h5>
<form [formGroup]="createForm" (ngSubmit)="createUser()">
  <div class="form-group">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      class="form-control"
      formControlName="username"
      [class.is-invalid]="
        createForm.get('username').dirty && createForm.get('username').invalid
      "
      [class.is-valid]="createForm.get('username').valid"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="text"
      id="password"
      class="form-control"
      formControlName="password"
      [class.is-invalid]="
        createForm.get('password').dirty && createForm.get('password').invalid
      "
      [class.is-valid]="createForm.get('password').valid"
      required
    />
  </div>
  <div class="form-group">
    <label for="name">Company name:</label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name"
      [class.is-invalid]="
        createForm.get('name').dirty && createForm.get('name').invalid
      "
      [class.is-valid]="createForm.get('name').valid"
      required
    />
  </div>
  <div class="form-group">
    <label for="hq">Company headquarters:</label>
    <input
      type="text"
      id="hq"
      class="form-control"
      formControlName="hq"
      [class.is-invalid]="
        createForm.get('hq').dirty && createForm.get('hq').invalid
      "
      [class.is-valid]="createForm.get('hq').valid"
      required
    />
  </div>
  <div class="form-group">
    <label for="foundingDay">Founding date (DD/MM/YYYY):</label>
    <div class="d-flex flex-row">
      <input
        type="number"
        id="foundingDay"
        class="form-control"
        formControlName="foundingDay"
        style="width: 7rem;"
        [class.is-invalid]="
          createForm.get('foundingDay').dirty &&
          createForm.get('foundingDay').invalid
        "
        [class.is-valid]="createForm.get('foundingDay').valid"
        min="1"
        max="31"
        required
      />
      <input
        type="number"
        id="foundingMonth"
        class="form-control ml-1"
        style="width: 7rem;"
        formControlName="foundingMonth"
        [class.is-invalid]="
          createForm.get('foundingMonth').dirty &&
          createForm.get('foundingMonth').invalid
        "
        [class.is-valid]="createForm.get('foundingMonth').valid"
        min="1"
        max="12"
        required
      />
      <input
        type="number"
        id="foundingYear"
        class="form-control ml-1"
        style="width: 10rem;"
        formControlName="foundingYear"
        [class.is-invalid]="
          createForm.get('foundingYear').dirty &&
          createForm.get('foundingYear').invalid
        "
        [class.is-valid]="createForm.get('foundingYear').valid"
        min="1000"
        [max]="currentYear"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="text"
      id="email"
      class="form-control"
      formControlName="email"
      [class.is-invalid]="
        createForm.get('email').dirty && createForm.get('email').invalid
      "
      [class.is-valid]="createForm.get('email').valid"
      placeholder="Ex: contact@company.com"
      required
    />
  </div>
  <div class="form-group" *ngIf="didServerCreatUserFail">
    <small class="text-danger"
      >Server encountered an error while attempting to create the user. Please
      try again.</small
    >
  </div>
  <div class="form-group" *ngIf="usernameAlreadyTaken">
    <small class="text-danger"
      >User with the username
      <span class="text-monospace">{{ createForm.value.username }}</span>
      already exists.</small
    >
  </div>
  <div class="form-group" style="text-align: center;">
    <button
      type="submit"
      class="btn btn-outline-success"
      style="width: 7rem;"
      [disabled]="createForm.pristine || createForm.invalid"
    >
      Create
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary ml-1"
      style="width: 7rem;"
      (click)="clearForm()"
    >
      Clear
    </button>
  </div>
</form>

<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Create new user</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        User
        <span class="text-monospace">{{ createForm.value.username }}</span>
        created successfully!
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          style="width: 4rem;"
          (click)="closeModal()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
